.hidden {
  display: none;
}

.contents {
  display: contents;
}

.maps {
  display: contents;
  flex-direction: column;
}

.selector {
  display: contents;
}

.selector * {
  font-size: 20pt;
  margin-left: 30px;
}

.image {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.bigImage {
  max-width: 100%;
  max-height: fit-content;
  object-fit: contain;
}
